@import "tailwindcss";

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}

.loading-bar {
  animation: loading-bar 1.2s ease-in-out infinite;
}
